<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101355556502-plkkanng488dd1u82tehr1297e5p3hro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101355556502-plkkanng488dd1u82tehr1297e5p3hro</string>
	<key>API_KEY</key>
	<string>AIzaSyDAllMFdCNxL2vO_MPDhR0MLxMdF1CaHgk</string>
	<key>GCM_SENDER_ID</key>
	<string>101355556502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter_localization_master</string>
	<key>PROJECT_ID</key>
	<string>medical-b65a5</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-b65a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101355556502:ios:d3b39465d6b395a021bcb7</string>
</dict>
</plist>